spring:
  application:
    name: hospitalmanagement
  
  datasource:
    url: jdbc:postgresql://ep-jolly-river-ahjezpor-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
    driver-class-name: org.postgresql.Driver
    username: neondb_owner
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    open-in-view: false
  
  # jackson:
  #   serialization:
  #     indent-output: true
  #     write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.hospital: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
